{% extends 'layout.html' %}

{% block body %}
    <div>
        <h1>Add new hospital</h1>
        <a href="/new_hospital" class="btn btn-success">New hospital</a>
    </div>
    <div>
        <h1>Add new customer</h1>
        <a href="/new_customer" class="btn btn-success">New customer</a>
    </div>
    <div>
        <h1>Add dependant</h1>
        <a href="/new_dependant" class="btn btn-success">Add dependant</a>
    </div>
    <div>
        <h1>view customers</h1>
        <a href="/view_customers" class="btn btn-success">Customers</a>
    </div>
    <div>
        <h1>view claims</h1>
        <a href="/view_claims" class="btn btn-success">Claims</a>
    </div>

{% endblock %}